*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: black;
}
.container{
  max-width: 900px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 20px 30px;
}
.navbar{
  display: flex;
  border-bottom: 1px solid rgba(128, 128, 128, 0.397);
}
.navbar h1{
  font-size: 30px;
  font-weight: bolder;
}
.links{
  margin-left: auto;
}
.links a{
  margin-right: 20px;
  font-size: 20px;
}
.links a:hover{
  color: red;
}
.title-home{
  text-align: center;
  margin-top: 20px;
  text-shadow: 1px 2px 2px red;
}
.blog-preview{
  margin-top: 50px;
}
.blogs{
  margin-bottom: 20px;
  padding: 10px 20px;
}
.blogs .body{
  overflow: hidden;
  height: 50px;
}
.blogs .author{
  margin: 10px;
  font-weight: bolder;
  color: rgb(253, 62, 62);
}
.blogs:hover{
  box-shadow: 1px 2px 5px gray;
}
.blogs a:hover{
  color: red;
}
.formcontrol{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.formcontrol label{
  font-size: 20px;
  font-weight: bolder;
}
.formcontrol .text {
  height: 30px;
}
.formcontrol .body{
  height: 500px;
}
.form{
  display: flex;
  flex-direction: column;
}
.btn-block{
 background-color: rgb(248, 58, 58);
 color: white;
 border: none;
 padding: 10px 20px;
 width: auto;
 cursor: pointer;
}
.blog .title{
  margin-top: 20px;
  text-align: center;
}
.blog .author{
  margin-bottom: 20px;
}

.del-icon{
  display: flex;
  justify-content: space-between;
}